@font-face {
  font-family: "GothamPro";
  src: url('./fonts/GothamPro.eot') format('eot'), url('./fonts/GothamPro.ttf') format('truetype');
}

@font-face {
  font-family: "Lato";
  src: url('./fonts/Lato-Light.eot') format('eot'), url('./fonts/Lato-Light.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px
}

/* 
SLIDER 
*/

.slider {
  width: 100vw;
  max-height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  /* background-color: lightskyblue;
  background-image: url(./img/bg.webp);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: local; */
}

.slider_child {
  scroll-snap-align: start;
  height: 100vh;
}

/* 
PAGINATION 
*/

.pagination {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 1%;
  top: 50%;
}

.pagination_point {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-color: #fff;
  margin: 13px;
}

.pagination input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
}

.pagination input[type=radio]:checked {
  background-color: #f78b1f;
}

.pagination .point_active {
  background-color: #f78b1f;
}

/* 
  END PAGINATION 
*/

/* 
  SLIDER HEADER 
*/

.slider_header {
  position: relative;
  z-index: 1;
  background: rgb(45, 143, 252);
  background: linear-gradient(180deg, rgba(45, 143, 252, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.slider_header__title {
  display: inline-block;
  margin-top: 11%;
  margin-left: 10%;
  max-width: 71%;
  font-size: 6em;
  line-height: 1.5;
  font-weight: 100;
  letter-spacing: -1px;
  color: #0d319c;
  font-family: "GothamPro";
}

.slider_header__center {
  min-height: 600px;
}

.block {
  transform: scale(1);
  animation: pulse 4s infinite;
}

.block_1 {
  animation-delay: 0.5s;
}

.block_2 {
  animation-delay: 1.5s;
}

.block_3 {
  animation-delay: 2.5s;
}

.block_4 {
  animation-delay: 3.5s;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    background-color: rgba(242, 136, 30, .9);
  }
  100% {
    transform: scale(1);
    background-color: rgba(242, 136, 30, .2);
    border: 3px solid #f2881e;
  }
}

.slider_ellipses {
  width: 7em;
  height: 7em;
  border-radius: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.ellips_top {
  font-size: 1em;
  left: 55.5%;
  bottom: calc(60%/);
}

.ellips_left {
  font-size: 0.5rem;
  left: 26.7%;
  bottom: 41%;
}

.ellips_bottom {
  font-size: 0.35rem;
  left: 47%;
  bottom: 28%;
}

.ellips_right {
  font-size: 0.35rem;
  left: 80%;
  bottom: 31%;
}

.slider_text {
  position: absolute;
  font-size: 2.5em;
  letter-spacing: 0px;
  color: #0d319c;
  font-family: "Lato";
}

.text_top {
  left: 61%;
  top: 35%;
}

.text_left {
  left: 22%;
  top: 50%;
}

.text_bottom {
  left: 37%;
  top: 64%;
}

.text_right {
  left: 77%;
  top: 62%;
}

.slider_next {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 11vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(49, 131, 206);
  background: linear-gradient(180deg, rgba(49, 131, 206, 0.9) 0%, rgba(80, 195, 250, 0.9) 100%);
}

.slider_next__bg {
  width: 84%;
  background: url(./img/bg_down.png) no-repeat center bottom;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next_top_row_bg {
  width: 100%;
  height: 10px;
  margin-bottom: auto;
  background: rgb(49, 131, 206);
  background: linear-gradient(-90deg, rgba(49, 131, 206, 0.9) 0%, rgba(80, 195, 250, 0.8) 100%);
  background-image: url(./img/bg_next.png);
  background-size: 100%;
  background-position: center;
}

.slider_next__title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding-top: 1.5%;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "GothamPro";
}

.slider_next__down {
  margin-top: 2%;
  width: 4%;
}
.bg_top_clear {
  position: absolute;
  bottom: 0;
  top: auto;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(./img/bg_top_clear.png) no-repeat;
  background-position: bottom;
  background-size: 100%;
}

/* 
  END SLIDER HEADER 
*/

/* 
  SLIDER CENTER 
*/

.slider_center {
  position: relative;
  width: 100%;
  min-height: 1vh;
  z-index: 1;
  background: rgb(81, 197, 251);
  background: linear-gradient(180deg, rgba(81, 197, 251, 1) 0%, rgba(35, 35, 153, 1) 100%);
}

.slider_ice {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(./img/ice.png) no-repeat center bottom;
  background-size: 100%;
  animation-duration: 1.5s;
  animation-iteration-count: initial;
  transform-origin: bottom;
}

.move_ice {
  animation-name: move_ice;
  animation-timing-function: linear;
}

@keyframes move_ice {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

.slider_center__title {
  font-size: 6em;
  margin: 0 auto;
  padding-top: 25%;
  text-align: center;
  line-height: 1.5;
  max-width: 56%;
  letter-spacing: -1px;
  color: #ffffff;
  font-family: "GothamPro";
  font-weight: 100;
  z-index: 100;
}

.bg_footer_clear {
  position: absolute;
  bottom: auto;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* 
  END SLIDER CENTER 
*/

/* 
  SLIDER BOTTOM 
*/

.slider_bottom {
  scroll-snap-type: x mandatory;
  scroll-snap-points-x: repeat(100%);
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  position: relative;
  background: rgb(35, 35, 153);
  background: linear-gradient(180deg, rgba(35, 35, 153, 1) 0%, rgba(3, 11, 29, 1) 100%);
}

.bottom_wrapper {
  position: relative;
}

.slider_bottom__child {
  color: #fff;
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
}

.bg_ice_all {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  animation-duration: 3s;
  animation-iteration-count: initial;
  transform-origin: bottom;
}

.bottom_left {
  background-image: url(./img/bg_foote_shadow.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: -12% bottom;
  opacity: 0.75;
}

.bottom_left .bg_ice_2 {
  background: url(./img/bg_ice_2.svg) no-repeat center bottom;
  background-size: 100%;
}

.bottom_center .bg_ice_3 {
  background: url(./img/bg_ice_3.webp) no-repeat center bottom;
  background-size: 100%;
}

.bottom_right .bg_ice_4 {
  background: url(./img/bg_ice_4.webp) no-repeat center bottom;
  background-size: 100%;
}

.slider_bottom__header h3 {
  font-size: 3.75em;
  font-weight: normal;
  letter-spacing: -1px;
  color: #fff;
  font-family: "GothamPro";
  margin-top: 10%;
  margin-left: 8.2%;
}

.slider_bottom__center {
  width: 100%;
  position: relative;
  color: #ffffff;
  font-family: "Lato";
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgBG_center__down {
  position: absolute;
  top: 26%;
  height: 27.13em;
}

.imgBG_center__down143_left {
  position: absolute;
  top: 26%;
  left: 47.5%;
  height: 8.938em;
}

.imgBG_center__down143_right {
  position: absolute;
  top: 26%;
  left: 52%;
  height: 8.938em;
}

.imgBG_center__right143 {
  position: absolute;
  transform: rotate(-90deg);
  top: 65.5%;
  left: 36.5%;
  height: 8.938em;
}

.imgBG_center__down64 {
  position: absolute;
  top: 62.5%;
  left: 52%;
  height: 4em;
}

.imgBG_center__down40 {
  position: absolute;
  top: 53.5%;
  left: 52%;
  height: 2.5em;
}

.imgBG_center__down120 {
  position: absolute;
  top: 57.75%;
  left: 47.5%;
  height: 6.88em;
}

.imgBG_center__down177_45deg {
  position: absolute;
  top: 59.75%;
  left: 31.5%;
  height: 5.6em;
}

.imgBG_center__down368_135deg {
  position: absolute;
  top: 25.75%;
  left: 28.5%;
  height: 18em;
}

.imgBG_center__left227_deg172 {
  position: absolute;
  top: 18%;
  transform: rotate(172deg);
  left: 33.5%;
  height: 0.75em;
}

.imgBG_center__left227_deg352 {
  position: absolute;
  top: 20%;
  transform: rotate(352deg);
  left: 33.5%;
  height: 0.75em;
}

.imgBG_center__right227_deg8 {
  position: absolute;
  top: 18%;
  transform: rotate(8deg);
  left: 55.5%;
  height: 0.75em;
}

.imgBG_center__right227_deg188 {
  position: absolute;
  top: 20%;
  transform: rotate(188deg);
  left: 55.5%;
  height: 0.75em;
}

.imgBG_center__right268_deg333 {
  position: absolute;
  top: 29%;
  transform: rotate(333deg);
  left: 31.5%;
  width: 18.75em;
}

.imgBG_center__right268_deg153 {
  position: absolute;
  top: 31%;
  transform: rotate(153deg);
  left: 32%;
  width: 18.75em;
}

.imgBG_center__right268_deg27 {
  position: absolute;
  top: 29%;
  transform: rotate(27deg);
  left: 54%;
  width: 18.75em;
}

.imgBG_center__right268_deg188 {
  position: absolute;
  top: 31%;
  transform: rotate(207deg);
  left: 53.5%;
  width: 18.75em;
}

.bottom_row, .center_row, .row_align__center {
  display: flex;
  justify-content: center;
  position: relative;
}

.bottom_row {
  height: 11.7vh;
  width: 56vw;
}

.center_row {
  width: 74%;
  align-items: center;
}

.row_align__center {
  align-items: center;
}

.section_left, .section_right {
  width: 25%;
  padding: 0 1.875em;
}

.section_left {
  text-align: end;
  margin-left: auto;
}

.section_right {
  text-align: start;
  margin-right: auto;
}

.section_center {
  margin: 0 11.7em;
}

.section_center2 {
  margin: 0 10.7em;
}

.section_top__arrow {
  height: 4.375em;
}

.row_between {
  justify-content: space-between;
}

.row_spans {
  display: flex;
  flex-direction: column;
  min-width: 15%;
}

.row_spans span:first-child {
  font-size: 4.563em;
  letter-spacing: -1px;
  font-weight: bold;
}

.row_spans span:last-child {
  font-size: 2.5em;
  letter-spacing: 0px;
  font-weight: 500;
}

.row_ellipse, .row_ellipse_center {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -1px;
  font-weight: bold;
  width: 10.313em;
  height: 10.313em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .15);
}

.row_ellipse_center {
  width: 7.65em;
  height: 7.65em;
}

.row_ellipse_center span {
  font-size: 4.563em;
  font-weight: bold;
  line-height: .75;
}

.section_center_span {
  font-size: 8.313em;
  font-weight: bold;
  line-height: .75;
}

.row_ellipse span {
  font-size: 8.313em;
  font-weight: bold;
  line-height: .75;
}

.arrow {
  background: url(./img/arrows_right.png) no-repeat center;
  background-size: 100%;
  width: 7.688em;
  margin: 0 1.25em;
}

.arrow_right {}

.arrow_left {
  transform: rotate(180deg);
}

.arrow_bottom {
  transform: rotate(90deg);
  width: 8.438em;
  margin-left: auto;
  margin-right: auto;
}

.big_arrow {
  background: url(./img/big_arrow_left.png) no-repeat;
  background-size: 100%;
}

.big_arrow_left, .big_arrow_right {
  width: 25.7em;
  height: 5.5em;
  position: absolute;
}

.big_arrow_left {
  transform: rotate(-45deg);
  top: 137%;
  left: 13%;
}

.big_arrow_right {
  transform: rotate(-135deg);
  top: 106%;
  left: 56%;
}

.row_box, .center_box {
  width: 31.25em;
  height: 11.25em;
  border: 1px solid #FFF;
  letter-spacing: 0px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
}

.ellipse_muscles {
  width: 95%;
  transform: rotate(-35deg);
}

.ellipse_liver {
  width: 100%;
}

.center_box {
  width: 48.125em;
  height: 17.5em;
}

.row_box span {
  font-size: 2.5em;
}

.center_box span {
  font-size: 3.125em;
}

.arrow_down, .arrow_up {
  background: url(./img/arrow_center_down.webp) no-repeat center;
  background-size: 16%;
  width: 4.375em;
  height: 100%;
}

.center_row .section_arrow_down_center {
  margin: 0 15em;
}

.arrow_up {
  transform: rotate(180deg);
}

.arrow_center, .arrow_center {
  background: url(./img/arrow_center_right.webp) no-repeat center;
  background-size: auto;
  width: 7.688em;
  height: 100%;
}

.arrow_center_right, .arrow_center_left {
  background: url(./img/arrow_center_right.webp) no-repeat center;
  background-size: 100%;
  width: 5em;
  height: 100%;
}

.arrow_center_left {
  transform: rotate(180deg);
}

.arrow_center_down64 {
  height: 4.063em;
}

.center_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9%;
  margin-bottom: auto;
}

.center_wrapper .row_spans span:first-child {
  margin-top: 10px;
}

.center_wrapper .row_spans span:last-child {
  font-size: 2.5em;
}

.slider_bottom__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.center_row_span_right {
  max-width: 10%;
  min-width: auto;
  margin-top: 4%;
  text-align: end;
  padding-right: 2.25em;
}

.center_row_span_left {
  min-width: auto;
  max-width: 10%;
  margin-top: auto;
  text-align: start;
  padding-left: 2.25em;
}

.center_row_span_left span:first-child, .center_row_span_right span:first-child {
  font-size: 4.563em;
}

.center_row_span_left span:last-child, .center_row_span_right span:last-child {
  font-size: 2.5em;
}

.ellipse_kidneys {
  width: 70%;
  margin-left: -20px;
}

.ellipse_fat {
  width: 70%;
}

.ellipse_liver, .ellipse_brain, .ellipse_muscles {
  width: 100%;
}

/* 
  FOOTER SLIDE 3 
*/

.footer_slide3__row {
  width: 100%;
  height: 100%;
  display: flex;
  color: #fff;
  font-family: "Lato";
  text-align: center;
}

.slide3_column {
  flex-grow: 1;
}

.slider3_row__top span:first-child {
  font-size: 4.553em;
  letter-spacing: -1px;
  font-weight: bold;
}

.slider3_row__top span:last-child {
  font-size: 3.125em;
  letter-spacing: 0px;
  font-weight: 500;
  margin-left: 30px;
}

.slider3_row__top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.313em;
  height: 10.313em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .15);
}

.column_left, .column_right {
  margin-top: 3.75em;
  width: 32%;
}

.column_center {
  max-width: 36%;
}

.column_center__row {
  display: flex;
  justify-content: center;
}

.center_row_width80 {
  width: 80%;
}

.row_arrow_center_top {
  height: 9.688em;
}

.ellipse_top {
  font-size: 8.313em;
  letter-spacing: -1px;
  font-weight: bold;
}

.img_intestine {
  width: 170%;
  margin-top: -1.25em;
  margin-left: -1.875em;
}

.img_immunity {
  width: 70%;
}

.img_stomach {
  width: 150%;
  margin-top: -1.25em;
}

.img_kidneys {
  margin-left: -1.25em;
  margin-top: -0.938em;
  width: 80%;
}

.img_brain {
  width: 100%;
}

.img_liver {
  width: 120%;
}

.img_muscles {
  width: 110%;
  transform: rotate(-45deg);
}

.img_fat {
  width: 75%;
}

.column_left__row, .column_right__row {
  display: flex;
  align-items: center;
}

.ellipse_column__left, .ellipse_column__right {
  width: 7.65em;
  height: 7.65em;
}

.ellipse_column__left {
  margin-left: 2.188em;
}

.ellipse_column__right {
  margin-right: 2.188em;
}

.column_left__spans, .column_center__spans, .column_right__spans {
  display: flex;
  flex-direction: column;
  text-align: end;
  max-width: 26.063em;
  margin-left: auto;
}

.column_left__spans span:first-child, .column_right__spans span:first-child, .column_center__spans span:first-child {
  font-size: 4.563em;
  letter-spacing: -1px;
  font-weight: bold;
}

.column_left__spans span:last-child, .column_right__spans span:last-child, .column_center__spans span:last-child {
  font-size: 2.5em;
  letter-spacing: 0px;
  font-weight: 500;
}

.column_center__spans {
  margin-left: 0;
}

.column_right__spans {
  text-align: start;
  margin-left: 0;
  margin-right: auto;
}

.text_align_end {
  text-align: end;
  width: 50%;
}

.text_align_start {
  text-align: start;
  width: 50%;
}

.column_center__tab {
  width: 4.375em;
}

.amilin_span, .glucagon_span {
  font-size: 1.88em;
  letter-spacing: 0px;
  font-weight: 500;
  margin-left: auto;
}

.amilin_span {
  margin-top: 2.188em;
}

.glucagon_span {
  margin-bottom: 16px;
  margin-left: 29%;
}

.hyperglycemia_span {
  font-size: 3.125em;
  letter-spacing: 0px;
  font-weight: 500;
}

.box_span {
  font-size: 1.88em;
  letter-spacing: 0px;
  font-weight: 500;
  margin: 0 auto;
  margin-top: 10px;
}

.right_box__column {
  width: 32.375em;
  height: 40.313em;
  border-radius: 5.938em;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1465628487723214) 0%, rgba(255, 255, 255, 0) 100%);
}

.right_box__row {
  width: 100%;
  display: flex;
  padding-top: 1.875em;
  padding-left: 1.875em;
}

.arrow_mini_left__down {
  height: 3.125em;
  margin-left: auto;
  margin-bottom: 0.625em;
  margin-top: 1.25em;
  margin-right: 9%;
}

.group_arrows_center__upDown {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}

.group_arrows_right_upDown {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  margin-right: auto;
  margin-left: 10em;
}

.arrow_mini_right__up, .arrow_mini_right__down {
  height: 3.125em;
}

.group_arrows_center__upDown img:first-child {
  transform: rotate(-180deg);
  margin-right: 2.125em;
}

.group_arrows_right_upDown img:first-child {
  transform: rotate(-180deg);
  margin-right: 0.625em;
}

/* 
  END FOOTER SLIDE 3 
*/

/* 
  RANGE SLIDE FOOTER
 */

.range_wrap {
  position: absolute;
  width: 100%;
  bottom: 2%;
}

.range_slider {
  width: 100%;
  display: flex;
  justify-content: center;
}

.range_year {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 2.5em;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "GothamPro";
  margin-top: 2.688em;
}

input[type=range] {
  -webkit-appearance: none;
  width: 60%;
  height: 1.563em;
  background-color: #d1eaff;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 0.625em;
  margin-left: -4.688em;
  margin-right: -4.688em;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 9.38em;
  width: 9.38em;
  background: url(./img/slide_footer.png) no-repeat center;
  background-size: 100%;
  margin-top: -4.688em;
}

input[type=range]:focus {
  outline: none;
}

/* 
  END RANGE SLIDE FOOTER
 */

/* 
  END SLIDER BOTTOM  
*/

/* 
END SLIDER
*/

@media screen and (orientation: landscape) {
}

@media screen and (orientation: portrait) {
}


@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 9px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 7px;
  }
  .slider_header__title {
    max-width: 60%;
  }
  .ellips_top {
    font-size: 1em;
    left: 55%;
    bottom: 60%;
  }
  .ellips_left {
    font-size: 0.5rem;
    left: 25.7%;
    bottom: 39%;
  }
  .ellips_bottom {
    font-size: 0.35rem;
    left: 46%;
    bottom: 27%;
  }
  .ellips_right {
    font-size: 0.35rem;
    left: 79%;
    bottom: 29%;
  }
  .text_bottom {
    left: 39%;
  }
  input[type=range] {
    height: 1em;
  }
  input[type=range]::-webkit-slider-thumb {
    background-size: 50%;
  }
  .arrow_bottom {
    margin-left: 25%;
    margin-right: 25%;
  }
  .big_arrow_left {
    top: 136%;
    left: 17%;
  }
  .center_wrapper {
    width: 16%;
  }
  .section_center2 {
    margin: 0px 2.7em;
  }
  .imgBG_center__down368_135deg {
    left: 30.5%;
  }
  .imgBG_center__down177_45deg {
    top: 60.75%;
    left: 32%;
  }
  .imgBG_center__right268_deg153 {
    top: 31%;
    left: 33%;
  }
  .imgBG_center__right268_deg333 {
    left: 32.5%;
  }
  .imgBG_center__left227_deg352 {
    left: 34.5%;
  }
  .imgBG_center__left227_deg172 {
    left: 34.5%;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 10px;
  }
}
@media screen and (min-width: 1600px) {
  body {
    font-size: 13px;
  }
}

/* от 2048 */

@media screen and (min-width: 2047px) {
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 3000px) {
  body {
    font-size: 22px;
  }
  .bg_top_clear {
    background-size: 3000px;
  }
}